/*
 * Stylesheet for Piano roll
 *
 *   ⓒ 20-700***** *** a.k.a. SDSK
 */

/*** Piano Parent Container ***/
#piano_container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	
	--black-key-color: #333;
}
/*** === ***/

/*** Piano Tools ***/
#piano_tools_container {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	
	position: relative;
	width: 100%;
	height: var(--piano-tools-height);
	padding: calc(var(--piano-tools-height) / 6) calc(var(--piano-tools-height) / 3);
	background: var(--black-key-color);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
	z-index: 1;
}

#piano_tools_container::-webkit-scrollbar {
	background: gray;
	width: 5px;
}

#piano_tools_container::-webkit-scrollbar-thumb {
	background: var(--black-key-color);
}

#piano_tools_container .piano_tool_item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	position: relative;
	color: white;
	padding: calc(var(--piano-tools-height) / 12) calc(var(--piano-tools-height) / 6);
	margin: 0 calc(var(--piano-tools-height) / 8);
	border-radius: 8px;
	opacity: 0.75;
	
	transition: color 0.33s, background 0.33s, opacity 0.33s, box-shadow 0.33s, transform 0.33s cubic-bezier(0, 0, 0, 1);
}

#piano_tools_container .piano_tool_item::after {
	content: attr(data-numpad);

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	position: absolute;
	width: 16px;
	height: 16px;
	right: -6px;
	top: -4px;
	font-size: 0.5em;

	color: #333 !important;
	background: white !important;
	border-radius: 100%;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
}

#piano_tools_container .piano_tool_item:hover {
	opacity: 1;
	cursor: pointer;
}

#piano_tools_container .piano_tool_item.toggleable:active {
	transform: scale(0.95);
}

#piano_tools_container .piano_tool_item.toggleable.enabled {
	color: var(--black-key-color);
	background: white;
	opacity: 1;
	box-shadow: inset 0 1.5px 3px rgba(33, 33, 33, 0.33);
}
/*** === ***/

/*** Piano Roll ***/
#piano_roll_container {
	position: relative;
	width: 100%;
	height: var(--piano-roll-height);
	/* min-height: 200px; */
	white-space: nowrap;
	overflow-x: overlay;
	overflow-y: hidden;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	z-index: 2;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.33);
	
	/* scroll-behavior: smooth; */
}

#piano_roll_container::-webkit-scrollbar {
	background: gray;
	height: 10px;
}

#piano_roll_container::-webkit-scrollbar-thumb {
	background: var(--black-key-color);
}

#piano_roll_container > div {
	width: 100%;
	font-size: 0;	/* Whitespace workaround */
}

#piano_roll_container #piano_roll_black_container {
	position: absolute;
	height: 55%;
	z-index: 1;
	top: 0;
	left: calc(4% / 2);
	pointer-events: none;
}

#piano_roll_container #piano_roll_white_container {
	height: 100%;
}

.piano_key {
	display: inline-block;
	position: relative;
	
	user-drag: none;
	user-select: none;
	-webkit-user-drag: none;
	
	transition: background 0.25s, box-shadow 0.25s;
}

.piano_key:after {
	content: attr(data-code);
	font-size: 1rem;
	text-align: center;
	
	opacity: 0.66;
	position: absolute;
	bottom: 3.3vh;
	left: 0;
	right: 0;
	
	user-drag: none;
	user-select: none;
	-webkit-user-drag: none;
	
	transition: transform 0.25s cubic-bezier(0.66, 0, 0.5, 2.5);
}

.piano_key.pressed {
	background: #BDE !important;
	transition: none !important;
}

.piano_key.pressed:after {
	transform: translateY(-25%);
	transition: none !important;
}

.piano_key.piano_key_black {
	background: var(--black-key-color);
	width: calc(4% - 10px);
	min-width: 40px;
	height: 100%;
	margin: 0 5px;
	pointer-events: auto;
	box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
}

.piano_key.piano_key_black:after {
	color: white;
}

.piano_key.piano_key_black.pressed {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !important;
	background: #9BC !important;
}

.piano_key.piano_key_black.piano_key_black_space {
	visibility: collapse;
	opacity: 0;
	pointer-events: none;
}

.piano_key.piano_key_white {
	background: white;
	border: 2px solid gray;
	width: 4%;
	min-width: 50px;
	height: 100%;
}

@media screen and (max-width: 1250px) {		/* 100% / 4% (white key width) * 50px (white key min-width) */
	#piano_roll_container #piano_roll_black_container {		/* To mimic `min-left` */
		left: 25px;
	}
}
/*** === ***/
